*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
*.xcuserdatad

kotlin-native-android/.idea
kotlin-native-android/gradlew.bat
kotlin-native-android/gradle/wrapper
kotlin-native-android/settings.gradle
kotlin-native-android/gradlew

kotlin-native-framework&ios/.idea
kotlin-native-framework&ios/gradlew.bat
kotlin-native-framework&ios/gradle/wrapper
kotlin-native-framework&ios/settings.gradle
kotlin-native-framework&ios/gradlew

.externalNativeBuild
